<!DOCTYPE html>
<html lang="en"> 
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101233231-2');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Barron's 1100 Words</title>
        <link rel="stylesheet" href="./css/materialize.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
    </head>
    <body>
        <div id="appBackground"></div>
        <div id="app" class="container">

            <div class="row" id="start" v-if="view=='start'">
                <div class="col s12 center">
                    <h6 class="light">Barron's 900 Words</h6>
                </div>
                <div class="col s12 center">
                    <button class="btn-large waves-light waves-effect pink" @click="view='stage'">Start</button>
                    <p class="grey-text text-darken-3 light">Swipe left for next word<br>Swipe up to cycle definitions</p>
                </div>
            </div>

            <div class="row" id="stage" v-if="view=='stage'">
                <div class="col s12 center light" v-text="counter"></div>
                <div class="col m4 offset-m4 center s10 offset-s1">
                    <transition name="fade">
                        <h4 class="grey-text text-darken-3" :key="word" v-text="word"></h4>
                    </transition>
                    <transition name="fade">
                        <p v-text="defs[activeDef]" :key="defs[activeDef]"></p>
                    </transition>
                </div>
            </div>

        </div>
        <script src="./js/vue.js"></script>
        <script src="./js/materialize.min.js"></script>
        <script src="./js/axios.min.js"></script>
        <script src="./js/hammer.min.js"></script>
        <script src="./js/main.js"></script>
    </body>
</html>