<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Barron's 1100 Words</title>
        <link rel="stylesheet" href="./css/materialize.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
        <style>
            #start{
                position: fixed;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            #stage{
                margin-top: 120px;
            }
            #stage h4{
                font-family: 'Pacifico';
            }
            #stage p{
                margin-top: 50px;
                text-align: justify;
                font-size: 1.3rem;
                font-family: 'Quicksand';
            }
        </style>
    </head>
    <body>
        <div id="app" class="container">

            <div class="row" id="start" v-if="view=='start'">
                <div class="col s12 center">
                    <button class="btn-large waves-light waves-effect pink" @click="view='stage'">Start</button>
                    <p class="grey-text text-darken-3">Swipe Instructions</p>
                </div>
            </div>

            <div class="row" id="stage" v-if="view=='stage'">
                <div class="col m4 offset-m4 center s10 offset-s1">
                    <h4 class="grey-text text-darken-3" v-text="word"></h4>
                    <p v-text="defs[activeDef]"></p>
                </div>
            </div>

            <button @click="cycleDef">Cycle Def</button>
            <button @click="fetchWord">Fetch Word</button>

        </div>
        <script src="./js/vue.js"></script>
        <script src="./js/materialize.min.js"></script>
        <script src="./js/axios.min.js"></script>
        <script src="./js/hammer.min.js"></script>
        <script src="./js/main.js"></script>
        <script>
            new Vue({
                el: '#app',

                data: {
                    view: 'start',
                    word: '',
                    defs: [],
                    activeDef: '',
                    nextWord:'',
                    nextDefs:[]
                },

                methods: {

                    cycleDef: function(){

                        var length  = this.defs.length;
                        
                        if(this.activeDef == length-1)
                            this.activeDef = 0;
                        else
                            this.activeDef++;
                        
                    },

                    fetchWord: function(){

                        var self = this;

                        this.word = this.nextWord;
                        this.defs = this.nextDefs;
                        this.activeDef = this.defs.length-1;

                        axios.get('./api/words.php?action=getRandom')
                            .then(function(response){

                                self.nextWord = response.data.word;
                                self.nextDefs = response.data.definition;
                                self.nextDefs.push("");
                            })
                    }
                },

                created: function(){
                    var self = this;
                    axios.get('./api/words.php?action=getRandom')
                        .then(function(response){

                            self.nextWord = response.data.word;
                            self.nextDefs = response.data.definition;
                            self.nextDefs.push("");
                            self.activeDef = self.nextDefs.length-1;
                            self.fetchWord();
                        })
                }
            });
        </script>
    </body>
</html>